{% extends 'base.html'%}

{% block content %}

	<h1 style="text-align: center; color: red;">Welcome {{username}}</h1>
	<br/>
	<br/>
	<h1 style="text-align: center; color: red;"> All Orders</h1>
	<br/>
	<br/>
	{%for order in orders %}
		<div class="alert alert-primary alert-dismissable" role="alert">
			<button class="close" data-dismiss="alert">
				<small><sup>x</sup></small>
			</button>
			<p style="text-align: center;"> {{ order.username }} </p>
			<p style="text-align: center;"> {{ order.phoneno }} </p>
			<p style="text-align: center;"> {{ order.address }} </p>
			<p style="text-align: center;"> {{ order.ordereditems }} </p>
			<p style="text-align: center;"> Order Status : {{ order.status }} </p>
			<div class="container" style="width: 200px; margin: auto;">
				<a class="btn btn-success" style="display: inline;" href="{% url 'acceptorder' order.id %}">Accept</a>
				<a class="btn btn-danger" style="display: inline;" href="{% url 'declineorder' order.id %}">Decline</a>
			</div>

		</div>
	{% endfor %}
{% endblock%}